body
{
    background-image: url('images/pixel.gif');
}
main
{
    width: 60%;
    height: 80%;
}
h1 {
    text-align: center;
}
#level_selector
{
    display: flex;
    justify-content: space-around;
    
    text-align: center;
}
